spring:
  application:
    name: demographic

  datasource:
    url: jdbc:mysql://localhost:3306/demographics?createDatabaseIfNotExist=true
    username: root
    password: root

#  h2:
#    console:
#      enabled: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8050
